@import url(https://fonts.google.com/specimen/Montserrat?query=monts);

* {
    font-family: 'Montserrat';
}

body {
    margin: 0 auto;
}

header.header{
    display: flex;
    align-items: center;
}

header.header img {
    width: 75px;
}
section.top-page {
    background: url("FondMainMenu.png");
    background-size: cover;
    height: 80vh;
    padding: 25px;
}

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 200px;
    margin-left: 30px;
}

nav.nav li a {
    color: rgb(60, 60, 60);
    text-decoration: none;
}

.landing-page {
    padding: 20px 50px;
}

.big-title {
    color: rgb(90, 1, 1);
    font-size: 75px;
    padding: 20px 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    font-weight: 100;
}

.scroll-down {
    color:aliceblue;
    text-decoration: none;
    position: absolute;
    bottom: 100px;
}

.section-title {
    font-size: 50px;
    font-weight: 100;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: darkred;
    width: 50px;
    height : 7px;
    bottom: 0;
}

.description {
    margin: 50px;
}

.img {
    background-color: antiquewhite;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    position: relative;
    background-size: cover;
    background-position: center;
    min-width: 350px;
    height: 500px;
    flex: 1;
}

.syno {
    justify-content: stretch;
    font-size: 17px;
	text-align: justify;
	text-indent: 2em;
}

.img1 {
    background-image: url(Image1.png);
}

.img2 {
    background-image: url(Image2.png);
}

.details {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #FFFFFFDF;
    padding: 5px 20px;
    justify-content: center;
}

.img-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 3px;
	text-align: center;
}

.copyright {
    display: flexbox;
    align-items: center;
    margin: 10px 50px;
    font-weight: 300;
}
